<section class="View View--Upload row">
  <form name="form" ng-submit="upload.submit($event)" class="Form Form--Upload">
    <fieldset>
      <legend>Upload</legend>
      <div class="form-group">
        <label for="register-profile-avatar">Avatar</label>
        <div class="button" ngf-select="upload.transfer($files)" ng-model="profile.model.avatar" name="file" ngf-pattern="'image/*'"
   accept="image/*" ngf-max-size="20MB" ngf-min-height="100"
   ngf-resize="{width: 100, height: 100}">Select</div>
      </div>
    </fieldset>
    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-success">Upload</button>
    </div>
  </form>
</section>
