<!DOCTYPE html>
<html>
  <head>
    <base href="<%= BASE_HREF %>" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>volunteers</title>
    <link rel="stylesheet" href="<%= BASE_HREF %>css/main.css?v=<%= APP_VERSION %>" />
  </head>
  <body>
    <div class="Wrapper">
      <nav class="Nav">
        <a data-ui-sref="login()" class="Nav__Link">Login</a>
        <a data-ui-sref="register()" class="Nav__Link">Register</a>
        <a data-ui-sref="profile()" class="Nav__Link">Profile</a>
        <a data-ui-sref="upload()" class="Nav__Link">Upload</a>
      </nav>
      <main data-ui-view class="container"></main>
    </div>
    <script src="<%= BASE_HREF %>js/vendor.js?v=<%= APP_VERSION %>"></script>
    <script src="<%= BASE_HREF %>js/app.js?v=<%= APP_VERSION %>"></script>
    <script src="<%= BASE_HREF %>js/config.js?v=<%= APP_VERSION %>"></script>
  </body>
</html>
